{% for asset in page.assets %}
  {% capture overlap %}{% if theme.gallery_style %}overlap {% endif %}{% endcapture %}
  {% case asset.type %}
      {% when 'image' %}
          <div class="{{ overlap }}asset swiper-slide image" data-hash="{{ forloop.index }}" data-color="{{ asset.dominant_color }}">
            {% if theme.gallery_style == false and theme.gallery_dominant_background %}
              <div class="dominant-background fade-out" style="background: {{ asset.dominant_color }};"></div>
            {% elsif theme.gallery_style == false and theme.gallery_dominant_background == false %}
              <div class="dominant-background fade-out active"></div>
            {% endif %}
            <div class="swiper-slide-container">
                {% assign ratioWidth = asset.image_dimensions_1600x1200[0] %}
                {% assign ratioHeight = asset.image_dimensions_1600x1200[1] %}
                {% capture dominantColor %}{% if asset.dominant_color %}{{ asset.dominant_color }}{% else %}#eeeeee{% endif %}{% endcapture %}
                {% capture orientation %}{% if ratioWidth > ratioHeight %}landscape{% elsif ratioHeight > ratioWidth %}portrait{% else %}square{% endif %}{% endcapture %}
                <canvas class="{{ orientation }} image-placeholder" width="{{ ratioWidth }}" height="{{ ratioHeight }}" style="background-color:{{ dominantColor }};"></canvas>
                <img data-sizes="auto" width="{{ ratioWidth }}" height="{{ ratioHeight }}" alt="{{ asset.alt_text }}" class="{{ orientation }} lazyload" data-src="{{ asset.image_url_1600x1200 }}" data-srcset="{{ asset | srcset: 'width' }}" data-parent-fit="contain" />
            </div>
            {% if asset.copy %}
              <div class="caption">
                <div class="caption-wrapper">
                  <div class="caption-scroller">
                    <div class="caption-inner-container">
                      {{ asset.copy }}
                    </div>
                  </div>
                </div>
              </div>
              <button class="details fade-out"><span>Read more</span></button>
            {% endif %}
          </div>
      {% when 'video' %}
          <div class="{{ overlap }}asset swiper-slide video fade-out" data-hash="{{ forloop.index }}" data-color="">
            <div class="swiper-slide-container video-overlay">
              <a class="video.iframe" data-type="iframe" data-src="{{ asset.iframe_url }}">
                <div class="video-overlay-darken"></div>
                <img src="{{ asset.thumbnail_url_960x0 }}" alt="" />
              </a>
              <div class="video-overlay-embed">
                <div class="video-overlay-embed-inner">
                  <iframe class="video-iframe" src="{{ asset.iframe_url }}"></iframe>
                </div>
              </div>
            </div>
            {% if asset.copy %}
              <div class="caption fade-out">
                <div class="caption-wrapper">
                  <div class="caption-scroller">
                    <div class="caption-inner-container">
                      {{ asset.copy }}
                    </div>
                  </div>
                </div>
              </div>
              <button class="details fade-out"><span>Read more</span></button>
            {% endif %}
          </div>
      {% when 'text' %}
          <div class="asset swiper-slide text" data-hash="{{ forloop.index }}" data-color="">
            <div class="swiper-slide-container">
              <div class="text-container fade-out">
                <div class="text-inner-container">
                  {{ asset.copy }}
                </div>
              </div>
            </div>
          </div>
  {% endcase %}
{% endfor %}