{% layout %}

  {% theme_include 'partials/header' %}
  <main class="container">
    {% if page.is_homepage != true %}
      <div class="page-title fade-out">
        {% if page.parent %}
          <a class="parent-link" href="{{ page.parent.url }}">{{ page.parent.name }}</a>
          <span class="sep">/</span>
        {% endif %}
        {{ page.name }}
      </div>
      {% if page.parent %}
        <div class="close-page fade-out">
          <a href="{{ page.parent.url }}" class="close-button hamburger hamburger-close"></a>
        </div>
      {% endif %}
    {% endif %}

    <button class="index-button fade-out">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>

    {% capture index %}{% if theme.gallery_index == true %}active {% endif %}{% endcapture %}
    <section class="{{ index }}gallery-index">
      <div class="index-scroller">
        <div class="index-container asset-container">
          {% theme_include 'partials/assets_index' %}
        </div>
      </div>
    </section>
    <div class="assets-grid swiper-container asset-container">
      <div class="swiper-wrapper">
        {% if page.title %}
          <div class="title-wrapper swiper-slide">
            {% theme_include 'partials/title' %}
          </div>
        {% endif %}
        {% theme_include 'partials/assets' %}
        {% if page.is_homepage != true %}
          <div class="swiper-slide asset text last-slide">
            <div class="swiper-slide-container">
              {% if page.parent %}
                {% if page.next_nested_page %}
                  <h2>
                    Next – <a class="next-page-link" href="{{ page.parent.url }}{{ page.next_nested_page.url }}">{{ page.next_nested_page.name }}</a>
                  </h2>
                {% endif %}
              {% else %}
                <h2>
                  <a class="link" href="/">
                    Return Home
                  </a>
                </h2>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <!-- Add Pagination -->
    {% if theme.gallery_page_navigation %}
      {% if page.parent %}
        {% if page.prev_nested_page %}
          <div class="prev-link-wrapper fade-out">
            <a class="prev-link" href="{{ page.parent.url }}{{ page.prev_nested_page.url }}">
              {{ page.prev_nested_page.name }} – Prev
            </a>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="swiper-pagination fade-out"></div>
    {% if theme.gallery_page_navigation %}
      {% if page.parent %}
        {% if page.next_nested_page %}
            <div class="next-link-wrapper fade-out">
              <a class="next-link" href="{{ page.parent.url }}{{ page.next_nested_page.url }}">
                Next – {{ page.next_nested_page.name }}
              </a>
            </div>
        {% endif %}
      {% endif %}
    {% endif %}
  </main>

{% endlayout %}